global !p
from vimsnippets import get_comment_format
from datetime import datetime
endglobal

snippet todo "TO DO" w
`!p
cm = get_comment_format()
snip.rv = cm[0].strip()
snip.rv += ' TODO [romeira]:'` ${1:${VISUAL:}} `!p
snip.rv += datetime.now().strftime("{%d/%m/%y %H:%M}")
if cm[2].strip() != '' and cm[0] != cm[2]:
    snip.rv += ' ' + cm[2].strip()
`
endsnippet

snippet /^\s*w$/ "Wrap" r 
${1:begin}
	${VISUAL}
${2:end}
endsnippet
