snippet if "if block" b
if (${1:true}) {
	${2:${VISUAL}}
}
endsnippet

snippet el "else block" w
else {
	${2:${VISUAL}}
}
endsnippet

snippet elif "else-if block" w
else if (${1:true}) {
	${2:${VISUAL}}
}
endsnippet
