snippet class "Class" b
class ${1:MyClass}($2):
	$0
endsnippet

snippet ipdb "Breakpoint" b
import ipdb; ipdb.set_trace()
endsnippet

snippet pprint "Pretty Print" b
from pprint import pprint; pprint(${1:${VISUAL:object}})
endsnippet
